# Copy this to your my.cnf file. Please change <directory> to the corresponding
# directory where the files were copied.
[client]
ssl-ca=/usr/local/mysql-8.0.23-macos10.15-x86_64/certs/ca-cert.pem
ssl-cert=/usr/local/mysql-8.0.23-macos10.15-x86_64/certs/client-cert.pem
ssl-key=/usr/local/mysql-8.0.23-macos10.15-x86_64/certs/client-key.pem

[mysqld]
ssl-ca=/usr/local/mysql-8.0.23-macos10.15-x86_64/certs/ca-cert.pem
ssl-cert=/usr/local/mysql-8.0.23-macos10.15-x86_64/certs/server-cert.pem
ssl-key=/usr/local/mysql-8.0.23-macos10.15-x86_64/certs/server-key.pem
